html {
	-webkit-user-select:none;
}


.canvasCont {
	margin: 0px auto;
	width: -webkit-min-content;
	float: both;
}
.wordsearch {
	background-color: white;
	border: 1px solid black;
	margin: 0px auto;
	cursor:pointer;
}

.wordListCont {
	margin: 0px auto;
	float: left;
	width: 300px;
	text-align: center;
}

.wordListCont h1 {
	text-decoration: underline;
}

.wordListCont ul li {
	list-style-type: square;
	text-align: left;
	font-size: 20px;
}

.wordListFound {
	text-decoration: line-through;
	color: red;
}

.wordListCont ul li div {
	text-decoration: none;
	color:white;
	font-size: 18px;
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
}